# env files
**/.env*

#### backend ####

backend*/HELP.md
backend*/.gradle
backend*/target/
!backend*/*.mvn/wrapper/maven-wrapper.jar
!backend*/*/src/main/*/target/
!backend*/*/src/test/*/target/

### STS ###
backend*/.apt_generated
backend*/.classpath
backend*/.factorypath
backend*/.project
backend*/.settings
backend*/.springBeans
backend*/.sts4-cache

### IntelliJ IDEA ###
backend*/.idea
backend*/*.iws
backend*/*.iml
backend*/*.ipr

### VS Code ###
backend*/.vscode/

#### frontend ####
# dependencies
frontend*/node_modules
frontend*/.pnp
frontend*/.pnp.*
frontend*/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
frontend*/coverage

# production
frontend*/build

# next.js
frontend*/.next/
frontend*/out/

# misc
frontend*/.DS_Store
frontend*/*.pem
frontend*/.env.local
frontend*/.env.development.local
frontend*/.env.test.local
frontend*/.env.production.local
frontend*/.vscode/

# debug
frontend*/npm-debug.log*
frontend*/yarn-debug.log*
frontend*/yarn-error.log*
frontend*/.pnpm-debug.log*

# vercel
frontend*/.vercel

# typescript
frontend*/*.tsbuildinfo
frontend*/next-env.d.ts
